.contacto-contenedor{
        margin-top: 9vh; 
        margin-left: 150px;    
}

    .contenedor-info{
        margin-left:10vw;
        display: flex;
    }

.contenedor-encabezado{
    width: 33vw;
}

.contacto-titulo{
    color: #696767;
    text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.4vw 0.4vw #000000;
    font-size: 4vw;
    text-align: left;
    animation:contacto-mov 0.8s ease-in-out infinite; 
}

.contacto-titulo::first-letter{
    color: #87c6e4;
}

.contacto-pie{
    color: #ffffff;
    font-size: 1.7vw;
}

.contacto-medios{
    text-align: left;
    margin-top: 12vh;
    margin-left:8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contacto-redes{
    text-align: center;
    margin-bottom: 4.5vh;
    font-size: 1.5vw;
    text-decoration: none;
    transition: background-color 0.7s linear 0.04s;
    animation:contacto-scala 2s ease-in-out infinite; 
    padding: 10px;
    width: 13vw;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #787777;
    cursor: pointer;
    box-shadow: 5px 5px 3px #000000;
    
}

.contacto-redes span{
    color: #514e4e;
    text-shadow: 0px 0px #1a1a1a, 0px -0px #121212, 0px -0px#1c1b1b, 0px 0px #131313, 0.15vw 0.15vw #1d1d1d;
}
.contacto-redes:nth-child(1){
    color:#a10606;
    border: 1px solid #a10606;
}

.contacto-redes:nth-child(2){
    color:#137803;
    border: 1px solid #137803;
}

.contacto-redes:nth-child(3){
    color: #1127a4;
    border: 1px solid #1127a4;
}

.contacto-redes:nth-child(4){
    color: #0049d1;
    border: 1px solid #0049d1;
}


.contacto-redes:hover{
    background-color: #101010;
}

@keyframes contacto-mov {
    0%,100%{ transform:none; }
    33%{ transform:translateY(-4px)}
    66%{ transform:translateY(4px)}
}

@keyframes contacto-scala {
    0%,100%{ transform:none; }
    33%{ transform:scale(1)}
    66%{ transform:scale(1.05)}
}

@media screen and (min-width: 1200px)
{
    .contacto-contenedor{
        display: block ;    
        
    }
}

@media screen and (max-width: 1200px)
{

    .contacto-contenedor{
        margin: 60px;
        margin-top: 9vh; 
            
    }
    .contenedor-info{
        margin:0;
        flex-direction: column;
    }
    .contenedor-encabezado{
        width: 100%;
    }

    .contacto-titulo{
   
        font-size: 7vw;
        text-align: center; 
    }
    .contacto-pie{
        text-align:left;
        
        font-size: 3vw;
        margin: 0 90px;
        margin-top: 3vw;
    }

    .contacto-medios{
        margin-top: 10vh;
    }

    .contacto-redes{
        width: 35vw;
        font-size:5vw;
        margin-bottom: 5vh;
    
    }
 
    
}

@media screen and (max-width: 700px){
    .contacto-contenedor{
        
        margin-top: 6vh; 
        margin: 30px;
            
    }

    .contacto-titulo{
   
        font-size: 10vw;
    }
    .contacto-pie{
        font-size: 4vw;
        margin: 0 40px;
        margin-top: 3vw;

    }

    .contacto-medios{
        margin-top: 12vh;
    }

    .contacto-redes{
        width: 42vw;
        font-size:6.5vw;
        margin-bottom: 5vh;
    
    }
}