.habilidades-contenedor{
    margin-top: 0; 
    margin-left: 150px; 
    height: 100vh; 
    display: flex;
    flex-direction: row;
}

.habilidades-contenedor div{
    flex: 1 1;
}

.habilidades-info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
}
.habilidades-titulo{
    margin: 7vh 5vw;
    margin-bottom: 0;
    text-align:left;
    font-size: 4vw;
    color: #696767;
    text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.4vw 0.4vw #000000;
    transform: rotate(-7deg)
}


.habilidades-titulo:nth-child(2){
    margin: 7vh 7vw;
    margin-top: 0;
    text-align:right;
    transform: rotate(7deg)

}

.habilidades-titulo::first-letter{
    color: #87c6e4;
}


.habilidades-data{
    margin: 4vh 4vw;
    color: #fff;
    font-size: 1.5vw;
}


.habilidades-contSkills{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.habilidades-skill{
    position: absolute;
    margin: 5vh 2vw;
    font-size: 3vw;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.2vw 0.2vw #000000;
}

.habilidades-skill:nth-child(1){
    animation: movXY 3s linear 1s alternate-reverse infinite, cambioColor1 5s linear 2s alternate-reverse  infinite;


}

.habilidades-skill:nth-child(2){
    
    animation:movXY 2s linear 0.5s alternate-reverse infinite, cambioColor2 5s linear  alternate-reverse  infinite;
    
}

.habilidades-skill:nth-child(3){
    
    animation:movXY2 3s linear  alternate-reverse infinite, cambioColor2 10s linear 2s alternate-reverse  infinite;
}

.habilidades-skill:nth-child(4){

    animation:movXY2 2s linear 1.5s alternate-reverse infinite, cambioColor1 10s linear alternate-reverse  infinite;
    
}

.habilidades-skill:nth-child(5){

    animation:movX 4s linear 0.5s  alternate-reverse infinite, cambioColor3 5s linear alternate-reverse  infinite;
    
}

.habilidades-skill:nth-child(6){

    animation:movX 2s linear  alternate-reverse infinite, cambioColor2 7.5s linear  alternate-reverse  infinite;
   
}

.habilidades-skill:nth-child(7){

    animation:movY 2s linear  alternate-reverse infinite, cambioColor1 7.5s linear 2s alternate-reverse  infinite;
   
}

.habilidades-skill:nth-child(8){

    animation:movY 3s linear 0.5s alternate-reverse infinite,cambioColor3 10s linear 2s alternate-reverse  infinite;
    
}

@keyframes cambioColor1{
    from {color: #04216a;} 

  to {color: #379cfa;} 
}

@keyframes cambioColor2{
    from {color: #d70c0c;} 

    to {color: #440505;} 
  }

  @keyframes cambioColor3{
    from {color: #ffffff;} 

    to {color: #4a4a4c;} 
  }


 @keyframes movY{
    from{ transform: translateY(-35vh)}
    to{ transform:translateY(35vh)}
}

@keyframes movX{
    from{ transform: translateX(-15vw)}
    to{ transform:translateX(15vw)}
}
 
@keyframes movXY{
    from{ transform: translateY(-35vh)translateX(-15vw)}
    to{ transform:translateY(35vh) translateX(15vw)}
}

@keyframes movXY2{
    from{ transform: translateY(-35vh)translateX(15vw)}
    to{ transform:translateY(35vh) translateX(-15vw)}
}
 
/* RESPONSIVEEEEEEEEEEEEE */

@media screen and (min-width: 1200px)
{
    .habilidades-contenedor{
        display: flex ;    
        
    }
}

@media screen and (max-width: 1200px)
{
    .habilidades-contenedor{
        margin: 0;
        flex-direction: column;
    }
    
    .habilidades-info{
        margin: 0 15vw;
    }

    .habilidades-titulo{
  
        font-size: 8vw;

    }
    
    
    .habilidades-data{
        margin: 2vh 2vw;
        font-size: 2.5vw;
        text-align: justify;

    }

    .habilidades-skill{

        font-size: 5vw;
      
    }

    @keyframes movY{
        from{ transform: translateY(-15vh)}
        to{ transform:translateY(15vh)}
    }
    
    @keyframes movX{
        from{ transform: translateX(-25vw)}
        to{ transform:translateX(25vw)}
    }
     
    @keyframes movXY{
        from{ transform: translateY(-15vh)translateX(-25vw)}
        to{ transform:translateY(15vh) translateX(25vw)}
    }
    
    @keyframes movXY2{
        from{ transform: translateY(-15vh)translateX(25vw)}
        to{ transform:translateY(15vh) translateX(-25vw)}
    }
}

@media screen and (max-width: 700px)
{
    .habilidades-contenedor{
        margin: 0;
        flex-direction: column;
    }
    
    .habilidades-info{
        margin: 0 15vw;
    }

    .habilidades-titulo{
  
        font-size: 10vw;

    }

    .habilidades-titulo:nth-child(2){

        margin-top: 2vh;

    
    }
    
    .habilidades-data{
        margin: 2vh 2vw;
        font-size: 3.5vw;
        text-align: start;

    }

    .habilidades-skill{

        font-size: 6vw;
      
    }

    @keyframes movY{
        from{ transform: translateY(-14vh)}
        to{ transform:translateY(14vh)}
    }
    
    @keyframes movX{
        from{ transform: translateX(-25vw)}
        to{ transform:translateX(25vw)}
    }
     
    @keyframes movXY{
        from{ transform: translateY(-14vh)translateX(-25vw)}
        to{ transform:translateY(14vh) translateX(25vw)}
    }
    
    @keyframes movXY2{
        from{ transform: translateY(-14vh)translateX(25vw)}
        to{ transform:translateY(14vh) translateX(-25vw)}
    }
}


