.inicio-contenedor{
    margin-top: 0; 
    margin-left: 150px; 
    
}

.inicio-titulo{
    margin: 0;
    margin-left: 3.5vw;
    text-align: left;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.4vw 0.4vw #000000;
}

.inicio-titulo span{
    display:inline-block; 
    animation:inicio-mov 0.8s ease-in-out infinite; 
    color: #87c6e4;
    letter-spacing: 0.8vw;
    text-shadow: 1vw 1vw 1vw #000000;
    font-size: 8vw;
    
}

.inicio-titulo:nth-child(1)
{
    padding-top: 12vh;
}

.inicio-titulo:nth-child(2){
    
    animation: inicio-escribir 2s steps(38) 1.5s 1 normal both;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.inicio-titulo:nth-child(3){
    animation: inicio-escribir 2s steps(38) 2.5s 1 normal both;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}


.inicio-pie{

    position: absolute;
    bottom: 0;
    margin: 10vh 7vw;
    text-align:left;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    text-shadow: 0.5vw 0.5vw 0.5vw #000000;
    

}




/* -----------RESPONSIVEEE */


@media screen and (min-width: 1200px)
{
    .inicio-contenedor{
        display: block !important;    /* para que cuando agreandemos la pestaña muestre si o si el inicio */
    }
}

@media screen and (max-width: 1200px)
{
    
    .inicio-contenedor{
        margin-left:0;    
    }

    .inicio-titulo{
        margin-left:4vw;
        font-size: 8vw;
    }

    .inicio-titulo:nth-child(1)
    {
    padding-top: 16vh;
    }

    .inicio-titulo span{
        margin-bottom: 3vh;
        font-size: 11vw;
        
    }

    .inicio-pie{
        font-size: 3vw;
        text-align: center;

    }
    
}

@media screen and (max-width: 700px)
{
    
    .inicio-contenedor{
        margin-left: 0;    
    }

    .inicio-titulo{
        margin-left:4vw;
        font-size: 8vw;
    }

    .inicio-titulo span{
    
        font-size: 14vw;
        
    }

    .inicio-pie{
        font-size: 5vw;
        text-align: center;

    }
    
}

/* animaciones */
@keyframes inicio-mov {
    0%,100%{ transform:none; }
    33%{ transform:translateY(-4px)}
    66%{ transform:translateY(4px)}
}

@keyframes inicio-escribir {
    from { width: 0 }
    to { width:100% }
}

