.menu-contenedor{
    /* margin: 1.5vh 8px; */
    
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-image: linear-gradient(to right, #000000 0%, #000000 100%);

    display: flex;
    flex-direction:column;
    align-items: center;
}


.menu-img{
    margin: 4vh 0;
    width: 110px;
    border-radius: 5%;    
}

.menu-boton{
    
    width: 100%;
    text-align: center;
    padding: 5vh 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: all ease-in-out .3s;
    border-top: 1px solid #1e1e1e ;

    
}

.menu-boton:nth-child(5){
    border-bottom: 1px solid #1e1e1e;
}


.menu-boton:hover{
    color: #87c6e4;
    font-size: 25px;
}

.menu-pagActual{
    color:#87c6e4
}

.menu-contenedorRedes{
    display: flex;
    
    
}

.menu-redes{
    margin: 30px 15px;
    font-size: 30px;
    color: #87c6e4;
}
.menu-redes:hover{
    font-size: 33px;
}

/* RESPONSIVEEEE */
.menu-resp{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-open{
    display: flex;
}


.menu-hamburger{
    z-index: 4;
    display: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 70px;
    position: fixed;
    top: 20px;
    right: 20px;
    
}


@media screen and (min-width: 1200px)
{
 .menu-resp{
    display:none;
 }   
}

@media screen and (max-width: 600px)
{   
    .menu-hamburger{
        font-size: 50px;
    }
}


@media screen and (max-width: 1200px)
{
    .menu-contenedor{
        display: none;
    }

   .menu-hamburger{
        display: block;
   }

   .menu-img{
        min-width: 110px;
        width: 18vh;
    }

    .menu-boton{
        background-color: #000000;
    }

    .menu-redes{
        margin: 5vh 5vw;
        font-size: 5vh;
    }
    
    .menu-redes:hover{
        font-size: 6vh;
    }


}