.menu{
    /* margin: 1.5vh 8px; */
    
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-image: linear-gradient(to right, #000000 0%, #000000 100%);

    display: flex;
    flex-direction:column;
    align-items: center;
}


.imgMenu{
    margin: 4vh 0;
    width: 180px;
    border-radius: 5%;    
}

.botonMenu{
    
    width: 100%;
    text-align: center;
    padding: 5vh 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: all ease-in-out .3s;
    border-top: 1px solid #1e1e1e ;

    
}

.botonMenu:nth-child(5){
    border-bottom: 1px solid #1e1e1e;
}


.botonMenu:hover{
    color: #87c6e4;
    font-size: 20px;
}

/* RESPONSIVEEEE */
.menu-resp{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.openMenu{
    display: flex;
}


.hamburger{
    z-index: 4;
    display: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 70px;
    position: fixed;
    top: 20px;
    right: 20px;
    
}


@media screen and (min-width: 1200px)
{
 .menu-resp{
    display:none;
 }   
}

@media screen and (max-width: 600px)
{   
    .hamburger{
        font-size: 50px;
    }
}


@media screen and (max-width: 1200px)
{
    .menu{
        display: none;
    }

   .hamburger{
        display: block;
   }

   .imgMenu{
        min-width: 120px;
        width: 22vh;
    }

    .botonMenu{
        background-color: #000000;
    }
    


}