.proyecto-contenedor{
    margin: 0;
    display:flex ;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
   
}

.proyecto-img{
    width: 20vw;
    height: 10vw;

    border: solid 1px #000000;
    cursor: pointer;

}

.proyecto-pie{
    margin: 0;
    margin-top: 4px;
     text-align: center;
     font-size: 1.5vw;
     text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.15vw 0.15vw #000000;
     color: rgb(136, 136, 136);
    background-color: #1e1e1e;
    border: solid 1px #000000;
}

.proyecto-ampliado{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.proyecto-imgAmpliada{
    width: 50vw;
    height: 24vw;
    border: 1px solid rgb(61, 61, 61);
}

.proyecto-openImg{
    animation: proyecto-abreImg 0.25s  linear both;
  }


  .proyecto-close{
    position: absolute;
    top: 70px;
    right: 70px;
    font-size: 70px;
    color: rgb(103, 104, 105);
    cursor: pointer;

    
}
.proyecto-contenedorInfo{
    width: 50vw;
    margin-top: 2vh;
    padding: 1vh 0;
    background-color: #1e1e1e;
    border: 1px solid rgb(61, 61, 61);
    
}
.proyecto-info{
    text-align: center;
    margin: 0;
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.15vw 0.15vw #000000;
    
}

.proyecto-contenedorPul{
    display: flex;
    margin-top: 3vh;

}

.proyecto-pul{
    text-decoration: none;
    color: #fff;
    margin: 0 5vw;
    padding: 13px;
    border-radius: 50px;
    font-size: 1.3vw;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.8s linear 0.05s;
    
}


.proyecto-pul:hover{
    background-color: rgb(4, 75, 16);
}

.proyecto-pul:hover:nth-child(2){
    background-color: rgb(120, 0, 0);
}

@keyframes proyecto-abreImg{

    0%{
        transform:translatex(100%);
    }

    100%{
        transform:translatex(0);  
    }
}

/* RESPONSIVEEEE */

@media screen and (max-width: 1200px){
    .proyecto-img{
        width: 27vw;
        height: 14vw;
    
        border: solid 1px #000000;
        cursor: pointer;
    
    }

    .proyecto-pie{
        
         font-size: 2.5vw;
         
    }

    .proyecto-imgAmpliada{
        width: 80vw;
        height:40vw;
        border: 1px solid rgb(61, 61, 61);

    }

    .proyecto-close{
        top: 110px;
        right: 25px;
        font-size: 60px;   
    }
    
    .proyecto-contenedorInfo{
        
        width: 80vw; 
        margin-top: 2vh;
    }
 
    .proyecto-info{
        
        font-size: 2.3vw;
        
    }

    .proyecto-pul{
        font-size: 2.3vw;
        
    }
}

@media screen and (max-width: 700px){
    .proyecto-img{
        width: 32vw;
        height: 20vw;
    
        border: solid 1px #000000;
        cursor: pointer;
    
    }

    .proyecto-pie{
        
        font-size: 3.5vw;
        
   }

   .proyecto-imgAmpliada{
    width: 90vw;
    height: 45vw;

}


.proyecto-contenedorInfo{
    
    width: 90vw; 
    margin-top: 2vh;
}

.proyecto-info{
    
    font-size: 3.3vw;
    
}

.proyecto-pul{
    font-size: 3.3vw;
    
}

   
}