.sobreMi-contenedor{
    margin-top: 0; 
    margin-left: 150px; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
}


.sobreMi-datos{
    margin: 0 5vw;
    display: flex;
    flex-direction: column; 
}

.sobreMi-titulo{
    margin-bottom: 3vh;
    font-size: 4.5vw;
    text-align: left;
    color: #696767;
    text-shadow: 0px 0px #000000, 0px -0px #000000, 0px -0px#000000, 0px 0px #000000, 0.4vw 0.4vw #000000;
    user-select:none;
    
}

.sobreMi-datos .sobreMi-titulo{
    animation:pulso 4s linear infinite; 
}



.sobreMi-info{
    margin: 0;
    font-size: 1.2vw;
    text-align:left;
    color: #fff;
    overflow: hidden;
    animation: muestra 3s linear 1.5s 1  both
}

.sobreMi-ubicacion{
    margin: 0 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobreMi-ubicacion .sobreMi-titulo{

    font-size: 3vw;
}

.sobreMi-ubicacion .sobreMi-titulo::first-letter{
    color: rgb(140, 12, 12);
}



.sobreMi-ubicacion iframe{

    margin-bottom: 4vh;
    width:28vw;
    height:60vh; 
    
}

/* ANIMACIONES */

       
@keyframes pulso {
    
    50%{ transform:scale(1.05);  }
}
 /* 0%,100%{ transform:translate(0);  }
    25%{ transform: translateY(2px) rotate(-3deg);  }
    50%{ transform:translateY(-20px)  scale(1.1);  } */      
       
@keyframes muestra {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
}

/* RESPONSIVEEEEEEEEEEE */

@media screen and (min-width: 1200px)
{
    .sobreMi-contenedor{
        display: flex !important;
    }
}

@media screen and (max-width: 1200px)
{
    
    .sobreMi-contenedor{
        margin: 0 8vw;
        flex-direction: column;   
        justify-content: flex-start;
    }

    .sobreMi-titulo{
        margin-top:7vh;
        margin-bottom: 3vh;
        font-size: 7vw;
    }

    .sobreMi-ubicacion .sobreMi-titulo{

        font-size: 6vw;
    }

    .sobreMi-info{
        font-size: 1.8vw;
        animation: none
    }

    .sobreMi-ubicacion iframe{
        
        width:50vw;
        height:25vh; 
    }

    @media screen and (max-width: 700px)
    {
        .sobreMi-titulo{
            margin-top:7vh;
            font-size: 8vw;
        }

        .sobreMi-ubicacion .sobreMi-titulo{

            font-size: 7vw;
        }
    
        .sobreMi-info{
            font-size: 3vw;
            animation: none
        }

        .sobreMi-ubicacion iframe{
        
            width:70vw;
            height:25vh; 
        }
    
        
    }
    
}