body{
  
  background-image: linear-gradient(90deg, #000000 0%, #131212f7 33%, #1d1d1df1 66%, #2e2e2ed2 100%), url(./img/1010101.jpg) !important;
  background-position: center !important;
  background-size: cover !important; /* Cambie el tamaño de la imagen de fondo para cubrir todo el contenedor */
  margin: 0;
  height: 100vh;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.close{
  display: none;
}
